* {
    box-sizing: border-box;
}

body {
    background-image: url('/assets/images/ocean.jpg');
    margin: 0;
}

.heading {
    color: whitesmoke;
    font-size: 4em;
    text-align: center;
}

.game-info-area {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
}

.game-info {
    color: whitesmoke;
    font-size: 2em;
}

.game-area {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin: 40px;
}

.card-area {
    background-color: black;
    height: 200px;
    width: 200px;
}